/* init */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "나눔고딕";
	user-select: none;
}

.container{
	width: 1440px;
	position: relative;
}

::-webkit-scrollbar{
	display: none;
}
/* //init */

/* workshop */
#workshop{
	display: flex;
}

#workshop > .workspace{
	width: calc(100vw - 480px);
	height: 100vh;
}

#workshop > .create-tool-box{
	width: 240px;
	height: 100vh;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	padding: 40px 60px;
}

#workshop > .create-tool-box .tool-item-group{
	margin-bottom: 40px;
}

#workshop > .create-tool-box .tool-item-group .tool-title{
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 11px;
}

#workshop > .create-tool-box .tool-item-group .tool-item{
	display: flex;
	justify-content: space-between;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin: 6px 0;
	cursor: pointer;
}

#workshop > .create-tool-box .tool-item-group .tool-item.active, #workshop > .create-tool-box .tool-item-group .tool-item:hover{
	opacity: 0.5;
}

#workshop > .create-tool-box .tool-item-group .tool-item .icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #333333;
	border-radius: 3px;
}

#workshop > .create-tool-box .tool-item-group div[class$="size-control"]{
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 25px;
	position: relative;
}

#workshop > .create-tool-box .tool-item-group div[class$="size-control"] .name{
	margin-bottom: 2px;
}

#workshop > .create-tool-box .tool-item-group div[class$="size-control"] .input-control input[type="range"]{
	width: 100%;
	height: 1px;
	background: black;
	outline: 0;
	-webkit-appearance: none;
	cursor: pointer;
}

#workshop > .create-tool-box .tool-item-group div[class$="size-control"] .input-control input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background: black;
	border: 1px solid #e2e2e2;
	border-radius: 50%;
}

#workshop > .create-tool-box .tool-item-group div[class$="size-control"] .input-control input[type="range"]:after{
	display: inline-block;
	width: 34px;
	height: 25px;
	position: absolute;
	right: 0;
	top: -6px;
	text-align: center;
	line-height: 25px;
	background: #333;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	content: attr(value);
}

#workshop > .create-tool-box .tool-item-group div[class$="color-control"]{
	margin-top: 15px;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

#workshop > .create-tool-box .tool-item-group div[class$="color-control"] .view-color{
	width: 25px;
	height: 25px;
	border: 1px solid black;
	border-radius: 3px;
	position: relative;
	top: -4px;
	cursor: pointer;
}

#workshop .workspace{
	position: relative;
}

#workshop > .layout-info-box{
	width: 240px;
	height: 100vh;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	padding: 40px 38px;
}
#workshop > .layout-info-box .info-item-group{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
#workshop > .layout-info-box .info-item-group .info-title{
	width: 100%;
	font-weight: 700;
}
#workshop > .layout-info-box .info-item-group .info-item{
	width: 50%;
	font-size: 14px;
	margin-top: 15px;
}

#workshop > .layout-info-box .layout-item-group{
	
}
#workshop > .layout-info-box .layout-item-group .layout-title{
	font-weight: 700;
}
#workshop > .layout-info-box .layout-item-group .layout-item{
	width: 100%;
	margin: 10px 0;
	display: flex;
	font-size: 14px;
	align-items: center;
}
#workshop > .layout-info-box .layout-item-group .layout-item .icon{
	width: 20px;
	height: 20px;
	background: #666666;
	margin-right: 12px;
}
/* //workshop */